/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: calc(50vw - 550px/2);
  height: 100vh;
} */

h2{
  margin-top: 10px;
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

